<div id="myModal" class="modal fade w-25 border-5">
    <div class="modal-header">Warning</div>
    <div class="modal-body">Are you sure you want to delete this Customer?</div>
    <div class="modal-footer">
        <button class="btn btn-primary">Delete</button>
        <button class="btn btn-secondary">Cancel</button>
    </div>
</div>
